
body {
  font-size: 16px;
  background-image: url('../images/body.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}


h1 {
  color:white;
  text-align: center;
  position: relative;
  top: 30px;
  word-spacing: 10px;
  font-weight: bold;

}

p  {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.5px;
  line-height: 1.6;
  background-color: #fff;
  text-align: center;
  margin-bottom: 30px;

}

.container {
  max-width: 768px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  background-image: url('../images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.responsive-media {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .media-container img {
    max-width: 300px;
    max-height: 300px;
  }

  .media-container iframe {
    max-width: 300px;
    height: 200px;
  }
}

@media (min-width: 769px) {
  .media-container img {
    max-width: 600px;
    max-height: 315px;
  }

  .media-container iframe {
    max-width: 600px;
    height: 400px;
  }
}

.song {
  margin-bottom: 30px;

}

.video {
  margin-bottom: 30px;

}

.img {
  margin-bottom: 30px;

}

.card-caption h3 a,
.card-caption h3 a:visited {
  color: white;
  text-decoration: underline;
  background-color: blue;
}

.card-caption h3 a:hover,
.card-caption h3 a:focus {
  color: blue;
  background-color: white;
}

p.contact {
  font-style: normal;
  position: relative;
  font-weight: bold;
}
